<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LabSampleTracker</title>
    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%#= csrf_meta_tags %>
  
    <!-- Bootstrap Core CSS -->
    <%= stylesheet_link_tag 'bootstrap/bootstrap.min' %>

    <!-- Custom CSS -->
    <%= stylesheet_link_tag 'bootstrap/simple-sidebar' %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                        Lab Sample Tracker
                    </a>
                </li>
                <%unless session[:user_code].blank?%>
                <li>
                    <a href="/">Dashboard (Home)</a>
                </li>
                <li>
                    <a href="#">Enter Lab results</a>
                </li>
                <li>
                    <a href="#">Dispatch Lab samples</a>
                </li>
                <li>
                    <a href="#">View laboratories list</a>
                </li>
                <li>
                    &nbsp;
                </li>
                <li>
                    <a href="/user/login">Logout</a>
                </li>
                <%end%>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                      <%= yield %>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <%= javascript_include_tag 'bootstrap/jquery' %>

    <!-- Bootstrap Core JavaScript -->
    <%= javascript_include_tag 'bootstrap/bootstrap.min' %>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
